/* Header styling */

.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.Header nav a {
  color: black;
  font-size: bold;
  font-weight: normal;
  margin: 0 10px;
  text-decoration: none;
}

.Header nav a:hover {
  color: #64376b;
}

/* Home Styling */

.Home {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
}

.CityInfo {
  text-align: center;
}

.CityInfo h2 {
  font-size: 48px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}

.CityInfo h3 {
  font-size: 45px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
}

.CityInfo h4 {
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
}

.CityInfo span {
  color: #64376b;
}

.WeatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.WeatherInfo_Core {
  border: 2px solid black;
  border-right: none;
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  padding: 30px;
  text-align: center;
}

.WeatherInfo_Extra {
  border: 2px solid black;
  display: flex;
  flex-basis: 60%;
  padding: 30px;
  text-align: center;
}

.WeatherInfo_Image {
  font-size: 100px;
}

.WeatherInfo_Label {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.WeatherInfo_Split {
  flex-basis: 50%;
}

.WeatherInfo_Temp {
  font-size: 72px;
  margin: 0px;
}

.WeatherInfo_Type {
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
}

.WeatherInfo_ImageTemp {
}

@media screen and (max-width: 640px) {
  .CityInfo {
    text-align: center;
    margin-top: 5px;
  }

  .Header {
    flex-direction: column;
  }

  .Header nav a {
    font-size: 12px;
  }

  .WeatherInfo {
    flex-direction: column;
  }

  .WeatherInfo_Core {
    border: 2px solid black;
    border-bottom: none;
  }
}
